{#- Macro per le traduzioni italiane delle etichette di mkdocstrings. -#}

{% block logs scoped %}
{% endblock logs %}

{% macro t(key) %}{{ {
  "ATTRIBUTE": "ATTRIBUTO",
  "Attributes": "Attributi",
  "Attributes:": "Attributi:",
  "BOUND:": "VINCOLO:",
  "Bound or Constraints": "Vincoli",
  "Classes": "Classi",
  "Classes:": "Classi:",
  "Class Type Parameters:": "Parametri di tipo della classe:",
  "CLASS TYPE PARAMETER": "PARAMETRO DI TIPO DELLA CLASSE",
  "CLASS": "CLASSE",
  "CONSTRAINTS:": "VINCOLI:",
  "DEFAULT:": "PREDEFINITO:",
  "Default": "Predefinito",
  "default:": "predefinito:",
  "DESCRIPTION": "DESCRIZIONE",
  "Description": "Descrizione",
  "Examples:": "Esempi:",
  "Functions": "Funzioni",
  "Functions:": "Funzioni:",
  "FUNCTION": "FUNZIONE",
  "Init Type Parameters:": "Parametri di tipo del costruttore:",
  "INIT TYPE PARAMETER": "PARAMETRO DI TIPO DEL COSTRUTTORE",
  "Methods:": "Metodi:",
  "METHOD": "METODO",
  "Modules": "Moduli",
  "Modules:": "Moduli:",
  "MODULE": "MODULO",
  "Name": "Nome",
  "Other Parameters:": "Altri parametri:",
  "PARAMETER": "PARAMETRO",
  "Parameters:": "Parametri:",
  "RAISES": "SOLLEVA",
  "Raises:" : "Solleva:",
  "RECEIVES": "RICEVE",
  "Receives:": "Riceve:",
  "required": "obbligatorio",
  "RETURNS": "RESTITUISCE",
  "Returns:": "Restituisce:",
  "Source code in": "Codice sorgente in",
  "TYPE:": "TIPO:",
  "Type": "Tipo",
  "Type Aliases": "Alias di tipo",
  "Type Aliases:": "Alias di tipo:",
  "TYPE ALIAS": "ALIAS DI TIPO",
  "Type Parameters:": "Parametri di tipo:",
  "TYPE PARAMETER": "PARAMETRO DI TIPO",
  "WARNS": "AVVISA",
  "Warns:": "Avvisa:",
  "YIELDS": "PRODUCE",
  "Yields:": "Produce:",
}[key] }}{% endmacro %}
